.color-bg {
  background-color: var(--color-bg);
}

.color-bg-subtle {
  background-color: var(--color-bg-subtle);
}

.color-bg-muted {
  background-color: var(--color-bg-muted);
}

.color-bg-accent {
  background-color: var(--color-brand-accent);
}